<div id="contentBoxApp" >
  <div id="GridCtrl">  
    <div class="toolbar">
      <div class="container">
        <div class="toolbar-section">
          <span class="logo toolbar-item"><i class="fa fa-picture-o"></i>Pinster</span>
        </div><!-- /.toolbar-section -->
        <div class="toolbar-section">   
          <div class="toolbar-item form-field">
            <input type="text" class="search-bar" name="filter" placeholder="phrase to filter" ng-model="search">
            <a href="#/pinster/user/" class="nav-button btn btn-default btn-xs" ng-model="userData">{{userData.email}}'s PINS</a>
          </div>
        </div><!-- /.toolbar-section -->
      </div><!-- /.container -->
    </div><!-- /.toolbar -->
    <div class="container dynamic-grid">
      <article class="grid-item content-box" ng-repeat="(gridKey, gridItem) in gridItems | filter:filterBySearch">
        <div class="inner">
        <img class="content-box-thumb"src="{{ gridItem.img }}" alt="tech image" />
        <h1 class="content-box-header">
          {{ gridItem.headerText }}
        </h1>
        <p class="content-box-blurb">
          {{ gridItem.blurbText }}
        </p>
        <button id="pin-it" class="btn btn-default btn-xs pin-it-button" ng-click="addPin()" title="{{gridItem.headerText}}" description="{{gridItem.blurbText}}" imageUrl="{{gridItem.img}}">Pin It!</button>
        <a class="readmore-link" href="#" ng-click="addPin()"toggleBlurb($event)>read more

        </a>
        </div>
      </article><!-- /.content-box -->

    </div><!-- /.dynamic-grid -->
  </div><!-- /#GridCtrl -->
</div><!-- /#contentBoxApp -->