<div id="contentBoxApp" >
  <div id="GridCtrl">  
    <div class="toolbar">
      <div class="container">
        <div class="toolbar-section">
          <span class="logo toolbar-item"><i class="fa fa-picture-o"></i><a href="#/pinster/main/" id="pinster">Pinster</a>
        </div><!-- /.toolbar-section -->
        <div class="toolbar-section">
          <div class="toolbar-item form-field">
            <input type="text" name="filter" placeholder="phrase to filter" ng-model="search"/>
          <button id="create-new-board-button" class="add-pin btn btn-default btn-xs" ng-click="showAddBoardModal()">Add Pin</button></span>
          </div>
        </div><!-- /.toolbar-section -->
      </div><!-- /.container -->
    </div><!-- /.toolbar -->

    <div class="container dynamic-grid">
      <article class="grid-item content-box" ng-repeat="(gridKey, gridItem) in gridItems | filter:filterBySearch">
        <div class="inner">
           <a href="{{gridItem.url}}"><img class="content-box-thumb-small"src="{{ gridItem.img }}" alt="tech image" /></a>
        <h1 class="content-box-header">
          {{ gridItem.headerText }}
        </h1>
        <p class="content-box-blurb">
          {{ gridItem.blurbText }}
        </p>
        <a class="user-readmore-link" href="#" ng-click="addPin()"toggleBlurb($event)>read more

        </a>
        </div>
      </article><!-- /.content-box -->

    </div><!-- /.dynamic-grid -->
  </div><!-- /#GridCtrl -->
</div><!-- /#contentBoxApp -->
<!-- add board modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="loginModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create Your New Pin</h4>
          </div>
          <div class="modal-body">
            <div>
              <label for="board-title">Title:</label><input type="text" ng-model="title">
            </div>
            <div>
              <label for="url">Url:</label><input type="text" ng-model="url">
            </div>
            <div>
              <label for="image-url">Image Url:</label><input type="text" ng-model="imageurl">
            </div>
            <div>
              <label for="board-description">Description:</label><input type="text" ng-model="description">
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="createNewBoard()">Save</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- <a href="{{gridItem.url}}"><img class="content-box-thumb-small"src="{{ gridItem.img }}" alt="tech image" /></a> -->